@import 'variables';

#about {
    height: 100vh; //    font-family: $fontMontserrat;
    font-family: $fontPacifico;
    font-size: 20px;

    .about-top {
        height: 100px;
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;

        .about-top-left {
            position: absolute;
            border-top: 100px solid red;
            border-right: 64vw solid transparent;
        }

        .about-top-right {
            position: absolute;
            right: 0;
            border-top: 100px solid red;
            border-left: 35vw solid transparent;
        }
    }


    p {
        color: #ecf0f1;
        border-bottom: 3px solid #ecf0f1;
        width: 300px;
        text-align: center;
        position: absolute;
        left: 65%;
        transform: translateX(-50%);
        font-size: 1em;
        margin: 0;
    }

    h2 {
        font-family: $fontPacifico;
        font-size: 5em;
        font-weight: 400;

        text-align: center;
    }

    .about-container {
        display: flex;
        flex-flow: row;
        justify-content: center;

        .about-left {
            width: 50%;
            align-self: center;
        }

        .about-right {
            background-image: url(../img/jan-nowak.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 30%;
            align-items: center;

            figure {
                margin: 0;
                opacity: 0;
                transition: 1s;

                &:hover {
                    opacity: 1;

                }

                img {
                    width: 100%;

                }
            }
        }
    }
}
