@import 'variables';

#skills {
    
    padding-top: 70px;
    
    .skills-top-left,
    .skills-top-right {
        position: absolute;
    }

    .skills-top-left {
        border-right: 65vw solid white;
        border-bottom: 100px solid #6C6C6C;
    }

    .skills-top-right {
        right: 0;
        border-left: 35vw solid white;
        border-bottom: 100px solid #6C6C6C;
    }

    h2 {
        @include h2;
    }

    .skills-icon {
        padding-top: 100px;
        overflow: hidden;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
        border-top: 1px solid white;
        margin-left: auto;
        margin-right: auto;
    }

    figure {
        opacity: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .bounceInLeft{

        -webkit-animation-name: bounceInLeft;
        animation-name: bounceInLeft;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
    }

    @-webkit-keyframes bounceInLeft {
        0%,
        60%,
        75%,
        90%,
        100% {
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }
        0% {
            opacity: 0;
            -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
        }
        45% {
            opacity: 1;
            -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(60%, 0, 0);
        }
        60% {
            -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(54%, 0, 0);
        }
        75% {
            -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(58%, 0, 0);
        }
        90% {
            -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(55.5%, 0, 0);
        }
        100% {
            -webkit-transform: none;
            transform: translateX(56.54%);
        }
    }

    @keyframes bounceInLeft {
        0%,
        60%,
        75%,
        90%,
        100% {
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }
        0% {
            opacity: 0;
            -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
        }
        45% {
            opacity: 1;
            -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(60%, 0, 0);
        }
        60% {
            -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(54%, 0, 0);
        }
        75% {
            -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(58%, 0, 0);
        }
        90% {
            -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(55.5%, 0, 0);
        }
        100% {
            -webkit-transform: none;
            transform: translateX(56.54%);
        }
    }

    .bounceInRight {
        -webkit-animation-name: bounceInRight;
        animation-name: bounceInRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
    }

    @-webkit-keyframes bounceInRight {
        0%,
        60%,
        75%,
        90%,
        100% {
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }
        0% {
            opacity: 0;
            -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
        }
        45% {
            opacity: 1;
            -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(6.54%, 0, 0);
        }
        60% {
            -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(12%, 0, 0);
        }
        75% {
            -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(8%, 0, 0);
        }
        90% {
            -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(11.5%, 0, 0);
        }
        100% {
            -webkit-transform: none;
            transform: translateX(10.54%);
        }
    }

    @keyframes bounceInRight {
        0%,
        60%,
        75%,
        90%,
        100% {
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }
        0% {
            opacity: 0;
            -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
        }
        45% {
            opacity: 1;
            -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(6.54%, 0, 0);
        }
        60% {
            -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(12%, 0, 0);
        }
        75% {
            -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(8%, 0, 0);
        }
        90% {
            -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(11.5%, 0, 0);
        }
        100% {
            -webkit-transform: none;
            transform: translateX(10.54%);
        }
    }

    @-webkit-keyframes slideName {
        0% {
            -webkit-transform: translateX(185%);
            transform: translateX(185%);
        }
    }

    @keyframes slideName {
        0% {
            -webkit-transform: translateX(185%);
            transform: translateX(185%);
        }
    }
}

