$fontLato: 'Lato', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;
$fontRoboto: 'Roboto Condensed', sans-serif;
$fontUbuntu: 'Ubuntu', sans-serif;
$fontPacifico: 'Pacifico', cursive;
$white: #fff;
$brightGrey: #ecf0f1;
$black: #000;