#main-header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/header-background.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative; }
  #main-header .welcome-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Lato", sans-serif;
    font-size: 100px;
    line-height: 130px;
    color: #ecf0f1;
    height: 130px;
    overflow: hidden; }
    #main-header .welcome-container .welcome-container-text {
      display: inline;
      float: left;
      margin: 0; }
    #main-header .welcome-container .welcome-container-list {
      margin-top: 0;
      padding-left: 300px;
      text-align: left;
      list-style: none;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite; }
      #main-header .welcome-container .welcome-container-list .item {
        line-height: 40px;
        margin: 0;
        position: absolute;
        top: 0;
        color: #16a085;
        font-size: 42px;
        line-height: 40px;
        animation-name: opacity;
        animation-duration: 2s;
        animation-iteration-count: infinite; }
      #main-header .welcome-container .welcome-container-list .item-first::after {
        content: "_";
        position: absolute;
        animation-name: underscore;
        animation-duration: 1.66666666667s;
        animation-iteration-count: infinite;
        right: 50px; }
      #main-header .welcome-container .welcome-container-list .item-first span {
        color: transparent; }
      #main-header .welcome-container .welcome-container-list .item-second:after,
      #main-header .welcome-container .welcome-container-list .item-third:after,
      #main-header .welcome-container .welcome-container-list .item-fourth:after {
        content: "_";
        position: absolute;
        animation-name: underscore;
        animation-duration: 1.66666666667s;
        animation-iteration-count: infinite; }
  #main-header .button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 3px gray, 0px 4px #767676, 0px 5px #6c6c6c, 0px 6px #626262, 0px 7px #585858, 0px 8px #4e4e4e, 0px 14px 6px -1px gray;
    /* shadow */
    transition: .1s ease-in-out; }
    #main-header .button .button-text {
      background-color: #E8E8E8;
      border-radius: 10px;
      transition: transform .1s ease-in-out;
      display: inline-block;
      padding: 10px 40px 10px 40px;
      color: #3A474D;
      font-weight: 700;
      font-size: 32px;
      text-shadow: 0px 1px #fff, 0px -1px #262F33; }
      #main-header .button .button-text:hover {
        color: #D1382B;
        text-shadow: 0px -1px #bf291c;
        cursor: pointer; }
    #main-header .button:active {
      box-shadow: 0px 2px gray, 0px 4px #767676, 0px 5px #6c6c6c, 0px 6px #626262, 0px 7px #585858, 0px 8px #4e4e4e, 0px 10px 2px 0px rgba(128, 128, 128, 0.6); }
    #main-header .button:active .button-text {
      transform: translate(0, 5px); }

@keyframes opacity {
  0%,
  100% {
    opacity: 0; }
  5%,
  85% {
    opacity: 1; } }

@keyframes underscore {
  0%,
  100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translateY(0); }
  16.66%,
  29.32% {
    transform: translateY(-25%); }
  33.32%,
  45.98% {
    transform: translateY(-50%); }
  49.98%,
  62.64% {
    transform: translateY(-75%); }
  66.64%,
  79.3% {
    transform: translateY(-50%); }
  83.3%,
  95.96% {
    transform: translateY(-25%); } }
